In [32]:
import pandas as pd 

school_data_to_load = "Resources\schools_complete.csv"
student_data_to_load = "Resources\students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [33]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=['school_name','school_name'])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [34]:
#To get the total number of schools using the Unique() function to find how many types they are than calculate totsl. 
Total_unique_schools = school_data['school_name'].unique()
Total_schools = len(Total_unique_schools) 

#Total number of students
Total_students = school_data_complete['student_name'].count()

#Total Budget 
Total_budget = school_data['budget'].sum()

#average math score 
Average_math_score = school_data_complete['math_score'].mean()
#Average reading score
Average_reading_score = school_data_complete['reading_score']. mean()

# % pass math 
math_pass = len(school_data_complete.loc[school_data_complete['math_score']>=70])
per_math_pass = math_pass / Total_students

# % pass reading 
reading_pass = len(school_data_complete.loc[school_data_complete['reading_score'] >=70])
per_reading_pass = reading_pass / Total_students

# % Overall pass 
overall_pass = student_data[(student_data['math_score'] >=70) & (student_data['reading_score']>=70)]['student_name'].count()/Total_students

In [35]:
#Create new dataframe for the calculated data from above.
District_summary_unformated = pd.DataFrame({
    "Total Schools": [Total_schools],
    "Total Students": [Total_students],
    "Total Budget": [Total_budget], 
    "Average Math score": [Average_math_score],
    "Average reading score": [Average_reading_score], 
    "Math Pass": [per_math_pass],
    "Reading Pass": [per_reading_pass], 
    "Overall Pass": [overall_pass], 
}) 

District_summary_unformated.head()

,Total Schools,Total Students,Total Budget,Average Math score,Average reading score,Math Pass,Reading Pass,Overall Pass
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [36]:
#Clean Date District_Summary_unformated by creating new data frame called District_summary_formated. 
District_summary_formated = District_summary_unformated[[
    "Total Schools",
    "Total Students",
    "Total Budget", 
    "Average Math score",
    "Average reading score", 
    "Math Pass",
    "Reading Pass", 
    "Overall Pass", 
]]

District_summary_formated.style.format({
    "Total Budget": "${:,.2f}", 
    "Average Math score": "{:.1f}", 
    "Average reading score": "{:.1f}", 
    "Math Pass": "{:.1%}", 
    "Reading Pass": "{:.1%}", 
    "Overall Pass": "{:.1%}"
})

In [37]:
#School Summary
#Create an overview table that summarizes key metrics about each school, including:
    
Results_by_School = school_data_complete.set_index('school_name').groupby(['school_name'])

#School types 
Types_schools = school_data.set_index('school_name')['type']

#Students total 
Students_per_school = Results_by_School['Student ID'].count()
#School Budget 
Each_school_budget = school_data.set_index('school_name')['budget']
#School Budget Per student 
Per_student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

# Average Math score per school
School_math_average = Results_by_School['math_score'].mean()
# Average Reading score per school 
School_reading_average = Results_by_School['reading_score'].mean()
# %% score for math each school 
Per_School_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/Students_per_school
# %% score for reading each school 
Per_School_reading = school_data_complete[school_data_complete['reading_score'] >=70].groupby('school_name')['Student ID'].count()/Students_per_school 

# %% score over all for each school 
Per_School_Overall = school_data_complete[(school_data_complete['reading_score']>=70) & (school_data_complete['math_score']>= 70)].groupby('school_name')['Student ID'].count()/Students_per_school

In [93]:
#Create a dataframe to hold the above results School_summary_unformated 
School_summary_unformated = pd.DataFrame({
    "School Type": Types_schools,
    "Total Students": Students_per_school,
    "Per Student Budget": Per_student_budget,
    "Total School Budget": Each_school_budget ,
    "Average Math Score": School_math_average,
    "Average Reading Score": School_reading_average,
    "% Passing Math": Per_School_math,
    "% Passing Reading": Per_School_reading,
    "Overall Passing Rate": Per_School_Overall
})

School_summary_unformated.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,628.0,3124928,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,582.0,1081356,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,639.0,1884411,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,644.0,1763916,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,625.0,917500,83.351499,83.816757,0.933924,0.971390,0.905995

In [45]:
#Create dataframe called School_summary_formated to clean formated the data from above 

School_summary_formated = School_summary_unformated[["School Type", 
                          "Total Students", 
                          "Total School Budget", 
                          "Per Student Budget", 
                          "Average Math Score", 
                          "Average Reading Score",
                          "% Passing Math",
                          "% Passing Reading",
                          "Overall Passing Rate"]]

School_summary_formated.style.format({"Total Students": "{:.f}", 
    "Total School Budget": "${:.2f}", 
    "Per Student Budget": "${:.2f}", 
    "Average Math Score": "{:.1f}", 
    "Average Reading Score": "{:.1f}", 
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "Overall Passing Rate": "{:.1%}"})

In [57]:
#Top 5 Performing Schools (By % Overall Passing Rate)
best_five_schools = School_summary_formated.sort_values("Overall Passing Rate", ascending = False)
best_five_schools.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

In [56]:
#Bottom 5 Performing Schools (BY % Overall Passing Rate)
Lowest_five_schools = School_summary_formated.sort_values("Overall Passing Rate", ascending = True)
Lowest_five_schools.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

In [77]:
#Math Scores By Grade 

#Create function to create a serises for average math score by grade  
def average_math_by_grade(grade):
    school_summary = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    school_names = school_data_complete.school_name.sort_values().unique()
    school_avg_math_score = list(school_summary.math_score.mean())

    # Compile all calculations into dataframe
    average_math_df = pd.DataFrame({"School Names":school_names,
                                    f"{grade} Avg Math Score":school_avg_math_score})

    average_math_df = average_math_df.reset_index(drop=True)
    return average_math_df

# Create series for each grade and group by school
grade_9 = average_math_by_grade('9th')
grade_10 = average_math_by_grade('10th')
grade_11 = average_math_by_grade('11th')
grade_12 = average_math_by_grade('12th')
avg_math_score_by_grade = pd.merge(grade_9,grade_10,how='inner',suffixes=('',''))
avg_math_score_by_grade = pd.merge(avg_math_score_by_grade,grade_11,how='inner',suffixes=('',''))
avg_math_score_by_grade = pd.merge(avg_math_score_by_grade,grade_12,how='inner',suffixes=('',''))
avg_math_score_by_grade

,School Names,9th Avg Math Score,10th Avg Math Score,11th Avg Math Score,12th Avg Math Score
0,Bailey High School,77.083676,76.996772,77.515588,76.492218
1,Cabrera High School,83.094697,83.154506,82.765560,83.277487
2,Figueroa High School,76.403037,76.539974,76.884344,77.151369
3,Ford High School,77.361345,77.672316,76.918058,76.179963
4,Griffin High School,82.044010,84.229064,83.842105,83.356164
5,Hernandez High School,77.438495,77.337408,77.136029,77.186567
6,Holden High School,83.787402,83.429825,85.000000,82.855422
7,Huang High School,77.027251,75.908735,76.446602,77.225641
8,Johnson High School,77.187857,76.691117,77.491653,76.863248
9,Pena High School,83.625455,83.372000,84.328125,84.121547
10,Rodriguez High School,76.859966,76.612500,76.395626,77.690748
11,Shelton High School,83.420755,82.917411,83.383495,83.778976
12,Thomas High School,83.590022,83.087886,83.498795,83.497041
13,Wilson High School,83.085578,83.724422,83.195326,83.035794
14,Wright High School,83.264706,84.010288,83.836782,83.644986

In [80]:
# Function to create series for average reading score by grade
def average_reading_by_grade(grade):
    school_summary = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    school_names = school_data_complete.school_name.sort_values().unique()
    school_avg_reading_score = list(school_summary.reading_score.mean())

    # Compile all calculations into dataframe
    average_reading_df = pd.DataFrame({"School Names":school_names,
                                    f"{grade} Avg Reading Score":school_avg_reading_score})

    average_reading_df = average_reading_df.reset_index(drop=True)
    return average_reading_df
    
# Create series for each grade and group by school
grade_9 = average_reading_by_grade('9th')
grade_10 = average_reading_by_grade('10th')
grade_11 = average_reading_by_grade('11th')
grade_12 = average_reading_by_grade('12th')
avg_reading_score_by_grade = pd.merge(grade_9,grade_10,how='inner',suffixes=('',''))
avg_reading_score_by_grade = pd.merge(avg_reading_score_by_grade,grade_11,how='inner',suffixes=('',''))
avg_reading_score_by_grade = pd.merge(avg_reading_score_by_grade,grade_12,how='inner',suffixes=('',''))
avg_reading_score_by_grade

,School Names,9th Avg Reading Score,10th Avg Reading Score,11th Avg Reading Score,12th Avg Reading Score
0,Bailey High School,81.303155,80.907183,80.945643,80.912451
1,Cabrera High School,83.676136,84.253219,83.788382,84.287958
2,Figueroa High School,81.198598,81.408912,80.640339,81.384863
3,Ford High School,80.632653,81.262712,80.403642,80.662338
4,Griffin High School,83.369193,83.706897,84.288089,84.013699
5,Hernandez High School,80.866860,80.660147,81.396140,80.857143
6,Holden High School,83.677165,83.324561,83.815534,84.698795
7,Huang High School,81.290284,81.512386,81.417476,80.305983
8,Johnson High School,81.260714,80.773431,80.616027,81.227564
9,Pena High School,83.807273,83.612000,84.335938,84.591160
10,Rodriguez High School,80.993127,80.629808,80.864811,80.376426
11,Shelton High School,84.122642,83.441964,84.373786,82.781671
12,Thomas High School,83.728850,84.254157,83.585542,83.831361
13,Wilson High School,83.939778,84.021452,83.764608,84.317673
14,Wright High School,83.833333,83.812757,84.156322,84.073171

In [82]:
# Scores By School Spending 
# create spending bins
bins = [0, 584.999, 614.999, 644.999, 999999]
group_name = ['< $585', "$585 - 614", "$615 - 644", "> $644"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

#group by spending
spending_Each = school_data_complete.groupby('spending_bins')

#calculations
avg_math = spending_Each['math_score'].mean()
avg_read = spending_Each['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/spending_Each['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/spending_Each['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/spending_Each['Student ID'].count()

            
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

#formating
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [84]:
# Scores By School Size 
# create size bins
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

#group by spending
school_size = school_data_complete.groupby('size_bins')

#calculations 
avg_math = school_size['math_score'].mean()
avg_read = school_size['math_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/school_size['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/school_size['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/school_size['Student ID'].count()

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [99]:
scores_by_type = School_summary_formated[["School Type",
                                    "Average Math Score",
                                    "Average Reading Score",
                                    "% Passing Math",
                                    "% Passing Reading",
                                    "Overall Passing Rate"]]
scores_by_type = scores_by_type.groupby("School Type")
scores_by_type.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.904322
District,76.956733,80.966636,0.665485,0.807991,0.536722